In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

df = pd.read_csv('dados_sinteticos_com_erros_atualizado.csv')
df.head()

C:\Users\1-22-10504\AppData\Local\Temp\ipykernel_5576\1341989652.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,id,data,hora,cliente,produto,valor_x,quantidade,total,status,cidade,...,cor,tamanho,peso,altura,largura,comprimento,categoria_y,valor_y,categoria,valor
0,1,2017-09-20,08:12:57,Filipe Cruz,Isotônico Coca-Cola,96.87,7,38.092982,em separação,Cidade,...,NaN,,83.75,12.89,35.11,56.99,bebidas,5.441855,bebidas,5.441855
1,2,2019-07-17,18:26:47,Daniel Silva,Lembrancinha Festa Box,92.21,7,123.142236,em trânsito,Cidade,...,NaN,,60.02,54.85,15.35,41.05,artigos para festas,17.591748,artigos para festas,17.591748
2,3,2018-01-20,15:55:07,Victor Silva,Convite Piffer,170.19,5,37.268889,cancelado,Cidade,...,NaN,,20.81,20.38,75.42,46.84,artigos para festas,7.453778,artigos para festas,7.453778
3,4,2016-06-21,11:36:07,Vanessa Rodrigues,Vinho Heineken,151.80,10,15.517708,entregue,Cidade,...,NaN,,44.59,4.68,32.67,91.61,bebidas,1.551771,bebidas,1.551771
4,5,2015-05-01,18:08:24,Luiz Bandeira,Chinelo Fila,82.24,7,326.226314,em separação,Cidade,...,amarelo,,92.52,57.52,33.77,49.21,calçados,46.603759,calçados,46.603759

In [2]:
# Arredondando as colunas 'Valor' e 'Total' para duas casas decimais
df['valor'] = df['valor'].round(2)
df['total'] = df['total'].round(2)

# Preenchendo valores ausentes na coluna 'Cores' com 'Indefinido'
df['cor'].fillna('Indefinido', inplace=True)

# Substituindo os valores da coluna 'Pais' que não sejam 'Brazil' por 'Indefinido'
df.loc[df['pais'] != 'Brasil', 'pais'] = 'Brasil'

df = df.drop(columns=['cidade'], axis= 1)
df = df.drop(columns=['valor'], axis= 1)
df = df.drop(columns=['valor_y'], axis= 1)
df = df.drop(columns=['total'], axis= 1)
df = df.drop(columns=['categoria_y'], axis= 1)
df = df.drop(columns=['categoria'], axis= 1)

# Visualizando o DataFrame resultante
print(df)
df

C:\Users\1-22-10504\AppData\Local\Temp\ipykernel_5576\3199836717.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cor'].fillna('Indefinido', inplace=True)

           id        data      hora            cliente  \
0           1  2017-09-20  08:12:57        Filipe Cruz
1           2  2019-07-17  18:26:47       Daniel Silva
2           3  2018-01-20  15:55:07       Victor Silva
3           4  2016-06-21  11:36:07  Vanessa Rodrigues
4           5  2015-05-01  18:08:24      Luiz Bandeira
...       ...         ...       ...                ...
214306  50000  2018-04-27  17:47:14       Pedro Soares
214307  50000  2018-04-27  17:47:14       Pedro Soares
214308  50000  2018-04-27  17:47:14       Pedro Soares
214309  50000  2018-04-27  17:47:14       Pedro Soares
214310  50000  2018-04-27  17:47:14       Pedro Soares

                       produto  valor_x  quantidade        status estado  \
0          Isotônico Coca-Cola    96.87           7  em separação     PR
1       Lembrancinha Festa Box    92.21           7   em trânsito     PE
2               Convite Piffer   170.19           5     cancelado     SC
3               Vinho Heineken   151.80          10      entregue     GO
4                 Chinelo Fila    82.24           7  em separação     BA
...                        ...      ...         ...           ...    ...
214306       Raquete Olympikus   222.79           5      entregue     PR
214307       Raquete Olympikus   222.79           5      entregue     PR
214308       Raquete Olympikus   222.79           5      entregue     PR
214309       Raquete Olympikus   222.79           5      entregue     PR
214310       Raquete Olympikus   222.79           5      entregue     PR

          pais  ...  vendedor          categoria_x      marca        modelo  \
0       Brasil  ...    Loja 1              bebidas  Coca-Cola     Isotônico
1       Brasil  ...    Loja 3  artigos para festas  Festa Box  Lembrancinha
2       Brasil  ...    Loja 3  artigos para festas     Piffer       Convite
3       Brasil  ...    Loja 3              bebidas   Heineken         Vinho
4       Brasil  ...    Loja 3             calçados       Fila       Chinelo
...        ...  ...       ...                  ...        ...           ...
214306  Brasil  ...    Loja 1             esportes  Olympikus       Raquete
214307  Brasil  ...    Loja 1             esportes  Olympikus       Raquete
214308  Brasil  ...    Loja 1             esportes  Olympikus       Raquete
214309  Brasil  ...    Loja 1             esportes  Olympikus       Raquete
214310  Brasil  ...    Loja 1             esportes  Olympikus       Raquete

               cor tamanho   peso altura largura  comprimento
0       Indefinido          83.75  12.89   35.11        56.99
1       Indefinido          60.02  54.85   15.35        41.05
2       Indefinido          20.81  20.38   75.42        46.84
3       Indefinido          44.59   4.68   32.67        91.61
4          amarelo          92.52  57.52   33.77        49.21
...            ...     ...    ...    ...     ...          ...
214306  Indefinido          50.71  93.06    0.26        66.74
214307  Indefinido          50.71  93.06    0.26        66.74
214308  Indefinido          50.71  93.06    0.26        66.74
214309  Indefinido          50.71  93.06    0.26        66.74
214310  Indefinido          50.71  93.06    0.26        66.74

[214311 rows x 23 columns]

,id,data,hora,cliente,produto,valor_x,quantidade,status,estado,pais,...,vendedor,categoria_x,marca,modelo,cor,tamanho,peso,altura,largura,comprimento
0,1,2017-09-20,08:12:57,Filipe Cruz,Isotônico Coca-Cola,96.87,7,em separação,PR,Brasil,...,Loja 1,bebidas,Coca-Cola,Isotônico,Indefinido,,83.75,12.89,35.11,56.99
1,2,2019-07-17,18:26:47,Daniel Silva,Lembrancinha Festa Box,92.21,7,em trânsito,PE,Brasil,...,Loja 3,artigos para festas,Festa Box,Lembrancinha,Indefinido,,60.02,54.85,15.35,41.05
2,3,2018-01-20,15:55:07,Victor Silva,Convite Piffer,170.19,5,cancelado,SC,Brasil,...,Loja 3,artigos para festas,Piffer,Convite,Indefinido,,20.81,20.38,75.42,46.84
3,4,2016-06-21,11:36:07,Vanessa Rodrigues,Vinho Heineken,151.80,10,entregue,GO,Brasil,...,Loja 3,bebidas,Heineken,Vinho,Indefinido,,44.59,4.68,32.67,91.61
4,5,2015-05-01,18:08:24,Luiz Bandeira,Chinelo Fila,82.24,7,em separação,BA,Brasil,...,Loja 3,calçados,Fila,Chinelo,amarelo,,92.52,57.52,33.77,49.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214306,50000,2018-04-27,17:47:14,Pedro Soares,Raquete Olympikus,222.79,5,entregue,PR,Brasil,...,Loja 1,esportes,Olympikus,Raquete,Indefinido,,50.71,93.06,0.26,66.74
214307,50000,2018-04-27,17:47:14,Pedro Soares,Raquete Olympikus,222.79,5,entregue,PR,Brasil,...,Loja 1,esportes,Olympikus,Raquete,Indefinido,,50.71,93.06,0.26,66.74
214308,50000,2018-04-27,17:47:14,Pedro Soares,Raquete Olympikus,222.79,5,entregue,PR,Brasil,...,Loja 1,esportes,Olympikus,Raquete,Indefinido,,50.71,93.06,0.26,66.74
214309,50000,2018-04-27,17:47:14,Pedro Soares,Raquete Olympikus,222.79,5,entregue,PR,Brasil,...,Loja 1,esportes,Olympikus,Raquete,Indefinido,,50.71,93.06,0.26,66.74
214310,50000,2018-04-27,17:47:14,Pedro Soares,Raquete Olympikus,222.79,5,entregue,PR,Brasil,...,Loja 1,esportes,Olympikus,Raquete,Indefinido,,50.71,93.06,0.26,66.74

In [4]:

# Removendo duplicatas
print(df.duplicated().sum())
df = df.drop_duplicates()

0

In [5]:
df.shape

(50000, 23)